<!-- <p>chome works!</p> -->
<app-cheader></app-cheader>
<div class="container-fluid">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>

  <div class="search-box css-fvnb3i">
      <div class=" css-1u2a8ed">
          <div class="input-container">
              <div><input type="text" placeholder="Ernakulam" class="search-bar css-80eldr" value=""></div>
            </div>
        </div>
        <div data-q="search" class="css-18ytggf">
            <input placeholder="Search for locality, landmark, project, or builder" value="" class="css-1eqt4wh">
        </div>
        <button class="cta css-84bdd7">Search</button>
    </div> 