<!-- <p>welcome works!</p> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<!-- <div class="logo "> -->
  <img src="assets/images/logo2.png" alt="logo" class="rounded-circle" width="5%" height="10%">
<!-- </div> -->
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BlestAbode</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/aboutus">About Us</a>
        <a class="nav-link" routerLink="/login">Login</a>
        <a class="nav-link" routerLink="/signup">SignUp</a>
      </div>
    </div>
  </div>
</nav>

<div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>Welcome to BlestAbode</h1>
        <p><i><b>"A Home is THE ONLY PLACE where your Mind, Heart, Soul and Body can all finally find PEACE."</b></i></p>
        <p><b>Years of Happy Moments are waiting for you,<br>Just grab them in our website!!!</b></p>
        <p>Find out the possible rent houses near your dream area and grab the offer at the earliest.<br>SignUp and Check out for more!!</p>
      </div>
      <div class="col-sm-6">
       <img src="assets/images/pic.jpg" alt="image">
      </div>
    </div>
  </div>

<div class="footer">
    <h5>Copyright@BlestAbode</h5>
</div>