<!-- <p>cabout works!</p> -->
<app-cheader></app-cheader>
<div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>AboutUs</h1>
        <p><i><b>"Some people look for beautiful places, but we make your place beautiful with your family"</b></i></p>
        <p>We, BlestAbode look for oppurtunities for you and your family to settle down. It's not how big the house is, but it always matters how happy the home is.</p>
        <br>
        <p><b>ARE YOU TIRED OF SEARCHING FOR AFFORDABLE RENT HOUSES??<br></b>Well, we have solution for you right in our website. Just SignUp and mark an end to your tiring search for houses.</p>
        <p><b>DO YOU HAVE HOUSES FOR RENT??<br></b>Then just rent them out...We will help you to find the best customers. The only thing you to do is to SignUp at the earliest.</p>
      </div>
      <div class="col-sm-6">
       <img src="assets/images/pic.jpg" alt="image">
      </div>
    </div>
  </div>
<app-footer></app-footer>