<!-- <p>welcome works!</p> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="logo ">
    <img src="images/logo.jpeg" alt="logo">
  </div>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BlestAbode</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/aboutus">About Us</a>
        <a class="nav-link" routerLink="/login">Login</a>
        <a class="nav-link" routerLink="/signup">SignUp</a>
      </div>
    </div>
  </div>
</nav>

<div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>AboutUs</h1>
        <p><i><b>"Some people look for beautiful places, but we make your place beautiful with your family"</b></i></p>
        <p>We, BlestAbode look for oppurtunities for you and your family to settle down. It's not how big the house is, but it always matters how happy the home is.</p>
        <br>
        <p><b>ARE YOU TIRED OF SEARCHING FOR AFFORDABLE RENT HOUSES??<br></b>Well, we have solution for you right in our website. Just SignUp and mark an end to your tiring search for houses.</p>
        <p><b>DO YOU HAVE HOUSES FOR RENT??<br></b>Then just rent them out...We will help you to find the best customers. The only thing you to do is to SignUp at the earliest.</p>
      </div>
      <div class="col-sm-6">
       <img src="assets/images/pic.jpg" alt="image">
      </div>
    </div>
  </div>

<div class="footer">
    <h5>Copyright@BlestAbode</h5>
</div>